body{
    background-color: rgb(255, 180, 191);
    font-size: 24px;
    font-family: "Consolas", monospace;
    margin: 80;
    padding: 0;
}

.container{
    width: 80%;
    max-width: 900px;
    margin: 0 auto; 
}

h1{
    font-family: "Consolas", monospace;
    font-size: 48px;
    color: #addbe4;
}

footer{
    background-color:skyblue;
    font-family: "Consolas", monospace;
    color:gray;
    padding: 3em;
    margin-top: 2em;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    cursor: crosshair;
}
